html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow:hidden;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "ו";
	font-size: 12px;
	color: #333333;
	background-color: #2286C2;
}


#borderContainer {
  width: 100%;
  height: 100%;
}